requests==2.32.3
robotframework==6.1
robotframework-appiumlibrary==2.1.0
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.4.1
robotframework-seleniumlibrary==6.3.0
robotframework-tidy==4.0
rpaframework-core==11.3.3
rpaframework-recognition==5.2.4
selenium==4.12