requests
robotframework
robotframework-appiumlibrary
robotframework-jsonlibrary
robotframework-pythonlibcore
robotframework-seleniumlibrary
robotframework-tidy
rpaframework-core
rpaframework-recognition
selenium